table{
    border-collapse: collapse ;
    width: 100%;
}

th, td{
    text-align: rigth;
    padding: 8px;
}
tr:nth-child(even){
    background-color: bisque;
}
tr:nth-child(odd){
    background-color: rgb(217, 131, 238);
}
th{
    background-color: rgb(218, 96, 116);
    color: azure;
}
table{
    width: 50%;    
}
tr:hover{
    background-color: rgb(97, 179, 158);
    color: rgb(228, 149, 221);
    font-size: 20px;
}